# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd
*.log
*.pot
*.mo

# Django
db.sqlite3
media/
staticfiles/

# Environment
venv/
.env
*.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
